{% extends 'layout.html' %}

{% block content %}
    <div>
  <div class="container">
    <div style="margin-bottom: 10px">
      <a class="btn btn-success" href="/add/staff/">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        新增员工
      </a>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
        部门列表
      </div>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>ID</th>
          <th>姓名</th>
          <th>密码</th>
          <th>工资</th>
          <th>入职时间</th>
          <th>性别</th>
          <th>所属部门</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for obj in queryset %}
          <tr>
              <th>{{  obj.id  }}</th>
              <td>{{  obj.name  }}</td>
              <td>{{  obj.password  }}</td>
              <td>{{  obj.salary  }}</td>
              <td>{{  obj.entry_time|date:"Y-m-d"  }}</td>
              <td>{{  obj.get_gender_display }}</td>
              <td>{{  obj.department.title }}</td>
              <td>
                <a class="btn btn-primary btn-xs" href="/staff/{{ obj.id }}/edit/">编辑</a>
                <a class="btn btn-danger btn-xs" href="/staff/{{ obj.id }}/delete/">删除</a>
              </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <ul class="pagination">
        {{ page_string }}
    </ul>
  </div>

</div>

{% endblock %}